
#header {
  display: flex;
  flex-direction: column;
}

#logo {
  align-self: center;
  margin: 2em;
}

#line {
  background: white;
  height: 0.4em;
  width: 70%;
  margin: 0 1em 1em;
  align-self: center;
  border-radius: 5px;
}
