<div class="container">

  <div class="content">

    <div class="marios-buttons">

      <div class="received-marios">
        <app-button-to-sent-and-received-marios></app-button-to-sent-and-received-marios>
      </div>

      <div class="space"><span></span></div>

      <div class="sent-marios">
        <app-button-to-sent-and-received-marios></app-button-to-sent-and-received-marios>
      </div>

    </div>

    <div class="add-marios-button">
      <button type="button">ADD MARIOS</button>
    </div>

    <div class="marios-grid">
      <app-marios-grid></app-marios-grid>
    </div>

  </div>

</div>
