.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.content {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}




.marios-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  max-height: 1%;
  margin-top: 3em;
  margin-bottom: 3em;
}

.space {
  width: 5%;
  height: 100%;
}

.marios-button {
  width: 47.5%;
  height: 100%;
  max-width: 600px;
}

.mdc-button--raised {
  padding: 0;
}



.add-marios-button-component {
  background: #FFDF24 !important;
  border: 3px  solid white !important;
  align-self: end;
  height: min(3vw, 4em);
}

.add-marios-button-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: min(0.5vw, 0.4em);
  width: 100%;
}

.add-marios-button-text {
  margin: 0;
  font-weight: bold;
  font-size: min(1.3vw, 2em);
}

.add-marios-icon {
  font-size: min(1.8vw, 3em);
  width: 20%;
  height: 100%;
}







.last-marios-text {
  color: white;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 1.5vmax;
  margin-bottom: 0.5em;
}

.marios-grid {
  width: 100%;
  height: 10%;
  margin-bottom: 3em;
}



