<mat-grid-list class="grip-custom" cols="3" rowHeight="15vw" [gutterSize]="'2vw'">
  <mat-grid-tile class="grid-tile"
    *ngFor="let tile of mariosList"
    [colspan]="1"
    [rowspan]="1">
    <button class="container" mat-raised-button (click)="popUpMarios(tile)">

      <div class="hover-overlay">
        <div class="hover-background"></div>
        <p class="hover-text">READ MORE</p>
      </div>

      <div class="name-and-sent-or-received">

        <mat-icon class="person-icon">person</mat-icon>

        <p class="sent-or-received" *ngIf="tile.sentOrReceived == 'sent'">To:</p>
        <p class="sent-or-received" *ngIf="tile.sentOrReceived == 'received'">From:</p>
        <span class="space-between-sent-or-received-and-name"></span>
        <p class="name" *ngIf="tile.sentOrReceived == 'received'">{{tile.firstAndLastNameOfSender}}</p>
        <div class="name" *ngIf="tile.sentOrReceived == 'sent'">
          <p *ngFor="let receiver of tile.firstAndLastNamesOfReceivers">{{receiver}}</p>
        </div>

      </div>

      <div class="marios-type">
        <mat-icon class="star-icon" color="blue">star</mat-icon>
        <p class="type-text">{{tile.type.type}}</p>
      </div>

      <div class="marios-title">
        <p style="width: 10%">T: </p>
        <p style="text-align: start">{{tile.title}}</p>
      </div>

      <div class="marios-comment">
        <p>
          {{tile.comment}}...
          <span style="color: black; font-weight: bold">See more</span>
        </p>
      </div>

    </button>
  </mat-grid-tile>
</mat-grid-list>
