.grid-tile {
  border-radius: 5px;
  min-height: 10vmax;
}


.hover-overlay:hover {
  opacity: 100%;
}

.hover-overlay {
  opacity: 0;

  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-overlay:hover > .hover-background {
  opacity: 70%;
}

.hover-background {
  background: black;

  position: absolute;
  height: 100%;
  width: 100%;
}

.hover-overlay:hover > .hover-text{
  opacity: 100%;
}

.hover-text {
  color: white;
  font-weight: bold;
  font-size: min(2vw, 3em);
  z-index: 100;
}






.container {
  background: white;

  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

p {
  margin: 0;
}




.name-and-sent-or-received {
  display: flex;
  flex-direction: row;

  font-weight: bold;
  font-size: 1.2vw;
  color: #EA808E;

  margin: 0.7vw 0.7vw 0;
}

.person-icon {
  font-size: 1.3em;
  width: 10%;
  height: 100%;
}

.space-between-sent-or-received-and-name {
  min-width: 0.5vw;
}





.marios-type {
  display: flex;
  flex-direction: row;

  font-size: 1.2vw;

  margin: 0.7vw 0.7vw 0;
}

.star-icon {
  color: green;
  font-size: 1.3em;
  width: 10%;
  height: 100%;
}

.type-text {
  font-weight: bold;
}





.marios-title {
  display: flex;
  flex-direction: row;

  font-size: 1.2vw;
  font-weight: bold;

  margin: 0.7vw 0.7vw 0;
}




.marios-comment {

  color: grey;
  font-size: 0.9vw;

  margin: 1vw;
  display: flex;
  justify-content: flex-start;
}

.marios-comment-text {
  word-wrap: break-word;
}

.mdc-button--raised {
  padding: 0;
}
