.container {
  height: 90%;
  width: 35vw;
}


.close-button-container {
  display: flex;
  justify-content: end;

  height: 2%;
}


.mat-mdc-icon-button {
  --mat-mdc-button-persistent-ripple-color: white;
}




.content {
  background: white;

  display: flex;
  flex-direction: column;

  height: 90%;
  width: 90%;

  margin: 2%;
  margin-top: 0;
}

p {
  margin: 0;
}





.marios-type-and-name-and-sent-or-received {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}


.name-and-sent-or-received {
  display: flex;
  flex-direction: row;

  font-weight: bold;
  font-size: 1.2vw;
  color: #EA808E;

  width: 55%;

  margin: 0.7vw 0.7vw 0;
}

.person-icon {
  font-size: 1.3em;
  width: 15%;
  height: 100%;
}

.space-between-sent-or-received-and-name {
  min-width: 0.5vw;
}





.marios-type {
  display: flex;
  flex-direction: row;
  justify-content: end;

  font-size: 1.2vw;

  width: 30%;

  margin: 0.7vw 0.7vw 0;
}

.star-icon {
  color: green;
  font-size: 1.3em;
  width: 20%;
  height: 100%;
}

.type-text {
  font-weight: bold;
}





.marios-title-pop-up {
  display: flex;
  flex-direction: row;

  font-size: 1.2vw;
  font-weight: bold;

  margin: 0.7vw 0.7vw 0;
}




.marios-comment {

  color: grey;
  font-size: 0.9vw;

  margin: 0.7vw;
}

.marios-comment-text-pop-up {
  width: 100%;
  word-wrap: break-word;
}

.mdc-button--raised {
  padding: 0;
}
