.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}


.content {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
}


.add-marios-button-component {
  background: #FFDF24 !important;
  border: 3px  solid white !important;
  align-self: start;
  height: min(3vw, 4em);
  margin-bottom: 3em;
}

.add-marios-button-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: min(0.5vw, 0.4em);
  margin-left: 0;
  width: 100%;
}

.add-marios-button-text {
  margin: 0;
  font-weight: bold;
  font-size: min(1.3vw, 2em);
}

.add-marios-icon {
  font-size: min(1.8vw, 3em);
  width: 20%;
  height: 100%;
}




.form-container {

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;

  height: 100%;
  width: 100%;

  margin-bottom: 10%;

  background: white;

  border-radius: 5px;
}



.form {
  height: 100%;
  width: 100%;
}


.receivers {
  height: auto;
  width: 100%;

  display: flex;
  flex-direction: row;
}

.person-icon {

  font-size: 3vw;
  width: 4%;
  height: 100%;
  color: #FCCF00;
  margin-top: 0.5vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.chip-list {
  width: 95%;

}

.marios-type-icon {

}


.yellow-line {
  display: block;
  width: 100%;
  height: 3px;
  background: #FCCF00;
}



.send-button-container {
  display: flex;
  justify-content: end;
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.send-button-component {
  background: #FFDF24 !important;
  border: 3px  solid black !important;
  display: flex;
  align-items: center;
}

.send-button-content {
  display: flex;
  align-items: center;
}

.send-button-text {
  margin: 15% 0 0;
}




p {
  margin-left: 5%;
  font-weight: bold;
}


.marios-type-chips {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 2%;
}


.title-form-field {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 2%;
  height: 12%;
}


.comment-form-field {
  width: 90%;
  margin-left: 5%;
  min-height: 30%;
}
