@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body {
  margin: 0;
  background: linear-gradient(180deg, rgba(218, 37, 37, 1) 5em, rgba(48, 111, 237, 1) 15em) no-repeat;
}

html {
  min-height: 100%;
}

* {
  font-family: "Open Sans";
}

.mdc-button__label {

  padding: 0;
  height: 100%;
  width: 100%;

}

.mat-mdc-form-field-subscript-wrapper {

  height: 0;

}

.mdc-line-ripple {

  display: none;

}


.mdc-text-field--filled:not(.mdc-text-field--disabled) {

  background-color: white;

}


