body {
  margin: 0;
  background: linear-gradient(180deg, rgba(218, 37, 37, 1) 5em, rgba(48, 111, 237, 1) 15em) no-repeat;
}

html {
  min-height: 100%;
}

* {
  font-family: "Open Sans";
}

.mdc-button__label {
  width: 100%;

  padding: 0;
  height: 100%;
  width: 100%;
}
